<nav aria-label="breadcrumb">
    <ol class="breadcrumb primary-color">
      <li class="breadcrumb-item"><a class="white-text" routerLink="/clientHome" routerLinkActive="true">Home</a></li>      
    </ol>
  </nav>
<!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/fruits" routerLinkActive="true" >Fruits</a>
<a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/vegetables" routerLinkActive="true" >Vegetables</a>
<a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/dairyProducts" routerLinkActive="true" >Dairy Products</a> -->

<div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../../../assets/client-side-img/fp1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Fresh Fruits for healthy life</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/fruits" routerLinkActive="true" >Fruits</a>
              
            </div>
            <small class="text-muted">Fruits</small>
          </div>
        </div>
      </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../../assets/client-side-img/vp1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Fresh Vegetable for immune body.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/vegetables" routerLinkActive="true" >Vegetables</a>
                
              </div>
              <small class="text-muted">Vegetables</small>
            </div>
          </div>
        </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/client-side-img/dp1.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Milk And Milk products.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/dairyProducts" routerLinkActive="true" >Milk Products</a>
                    
                  </div>
                  <small class="text-muted">Milk Products</small>
                </div>
              </div>
            </div>
            </div>
    </div>