<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your registered and valid email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will send you a 6 digit OTP.</li>
                    <li><span class="text-primary text-medium">3. </span>By entering correct OTP you can update your password.</li>
                </ol>
            </div>
            <form class="card mt-4" #mailForm="ngForm">
                <div class="card-body">
                    <div class="form-group"> <label for="emailId">Enter your email address</label>
                        <input class="form-control" type="text" id="emailId" name="emailId" required="Please Enter Email-iD" [(ngModel)]="email">
                        <small class="form-text text-muted">Enter the email address you used during the registration on MrCoder'SGrocery.com. Then we'll email a link to this address.</small>
                    </div>
                </div>
                <div class="card-footer">
                    <div data-toggle="modal" class="m-2" data-target="#updatePassword">
                        <button class="btn btn-success" type="submit" [disabled]="mailForm.invalid" (click)="sendOTP()">Get New Password</button>&nbsp;&nbsp; <a class="btn btn-danger" routerLink='/login' routerLinkActive="true">Back to Login</a>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>

<div class="modal fade" id="updatePassword">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Password</h4>
                <button type="button" class="close" (click)="form.reset()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="waitForOtp" class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
                        <span class="sr-only"><strong> Loading... </strong></span>              
                      </div>
                </div>

                <div *ngIf="otpReceived">
                <form [formGroup]="form" id="resetPassword" #resetPasswordForm="ngForm" (ngSubmit)="update(resetPasswordForm)">
                    <div class="form-group">
                        <label for="otp">OTP</label>
                        <input formControlName="otp" id="otp" required type="password" class="form-control">
                        <div *ngIf="f.otp.touched && f.otp.invalid" class="alert alert-danger">
                            <div *ngIf="f.otp.errors.required">OTP is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input formControlName="password" id="password" type="password" class="form-control">
                        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                            <div *ngIf="f.password.errors.minLength">Password must contain atleast 8 characters.</div>
                            <div *ngIf="f.password.errors.pattern"> Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                            <div *ngIf="f.password.errors.required">Password is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input formControlName="confirm_password" id="confirm_password" type="password" class="form-control">
                        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                            <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                            <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                        </div>
                    </div>
                    <div class="card-footer">                        
                            
                            <div class="row">
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary d-flex justify-content-start"   [disabled]="!form.valid">Update Password</button>
                                </div>
                                <div >
                                <button class="btn btn-danger d-flex justify-content-end" type="button"  (click)="resendOTP()">Resend OTP</button>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                                <div *ngIf="resendOtp" class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            
                            </div>
                    </div>
                   
                </form>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="form.reset()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
</div>